<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">
      <img src="../../assets/tasks.png" alt="Task Manager" width="25" height="25">
      Tasks Manager
    </a>
    <button class="navbar-toggler" (click)="toggleState()" type="button" >
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapsed navbar-collapse" [ngClass]="{ 'collapse': isCollapse }">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" routerLink="/tasks-list">Tasks List</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/users-list">Users List</a>
        </li>
      </ul>
    </div>
</nav>